html {
    position: relative;
    min-height: 100%;
  }

body{
    background-color: #000000;
    margin-bottom: 6em ; /* Margin bottom by footer height */
}

*{
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
}

#gradient-header {
    text-align: center;
}

.modal p,h5{
    color:#000000
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
  }

.footer-content{
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding: 1.5em 0;
}

.footer-content img{
    height: 1em;
    width: auto;
}

/*Random layout padding*/
.row-btm-pad{
    margin-bottom: 30px;
}

.row-gall-pad {
    margin-bottom: 10px;
}

.col-gall-l {
    padding-right: 5px;
}

.col-gall-r {
    padding-left: 5px;
}

.btn-btm-pad {
    /*display: inline-block;*/
     margin-bottom: 1rem;
 }
 
 .btn-group + .btn {
     margin-left: 1rem; }
 
 
 /*.btn-donate {
     border-color: #ffc439; background-color: #ffc439; color: white;
 }
     
 .btn-donate:hover {
     border-color: #E0A51A; background-color: #E6AB20; color: white;
 }
 
 .btn-donate:active {
     border-color: #E0A51A; background-color: #E6AB20; color: white;
 }
 
 .btn-donate:focus {
     border-color: #BF8400; background-color: #E6AB20; color: white;
 }*/
     
 /*when screen size large or above*/
 @media screen and (min-width: 64em) {
     .btn {
       padding: 0.75rem 1rem;
     }
     #title {
         font-size: 6rem;
     }
 }
 
 /*when screen size medium*/
 @media screen and (min-width: 36em) and (max-width: 64em) {
     .btn {
         padding: 0.6rem 0.9rem;
     } 
     #title {
         font-size: 5rem;
     }
 }
 
 /*when screen size small*/
 @media screen and (max-width: 36em) {
     /*Header button padding changes*/
     .btn {
         font-size: 1.1rem;
         padding: 0.65rem;
         
     }
     .header-btn{
         display: block;
     }
     .btn-flex + .btn {
         margin-left: 0;
     }
 
     #title {
         font-size: 3.5rem;
     }
 
     /*Footer text size small*/
     .footer-content{
         font-size: 0.8em
     }
 
     /*Split download button block*/
     .btn-flex {
         display: flex;
         align-items: stretch;
         align-content: stretch;
     }
         
     .btn-flex .btn:first-child {
         flex-grow: 1;
         text-align: center;
     }
 }
 
