/*Draw Header Colour*/
#gradient-header {
    background: linear-gradient(90deg,rgba(255,0,0,0.75), rgba(255, 128, 0, 0.75), rgba(255,255,0,0.75), rgba(0, 255, 0, 0.75), rgba(0,0,255,0.75), rgba(75,0,130,0.75), rgba(127,0,255,0.75));
    background-size: 1400% 1400%;
    
    -webkit-animation: AnimationName 180s linear infinite;
    -moz-animation: AnimationName 180s linear infinite;
    animation: AnimationName 180s linear infinite;
}

/*Header Colour Animation*/
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}