body{
    background-color: #000000;
}

*{
    color: #FFFFFF;
    font-family: 'Titillium Web', sans-serif;
}

.footer{
    width: 100%;
    height: 5em;
    /* Set the fixed height of the footer here */
    line-height: 5em; /* Vertically center the text there */
    background-color: #1a1a1a;
}

.footer-content{
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.footer-content img{
    height: 1em;
    width: auto;
}

.row-btm-pad{
    margin-bottom: 30px;
}

.row-gall-pad {
    margin-bottom: 10px;
}

.col-gall-l {
    padding-right: 5px;
}

.col-gall-r {
    padding-left: 5px;
}

#gradient-header {
    background: linear-gradient(90deg,rgba(255,0,0,0.75), rgba(255, 128, 0, 0.75), rgba(255,255,0,0.75), rgba(0, 255, 0, 0.75), rgba(0,0,255,0.75), rgba(75,0,130,0.75), rgba(127,0,255,0.75));
    background-size: 1400% 1400%;
    
    -webkit-animation: AnimationName 180s linear infinite;
    -moz-animation: AnimationName 180s linear infinite;
    animation: AnimationName 180s linear infinite;

    text-align: center;
}

/*Header Colour Animation CSS*/
@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/*.btn {
    display: inline-block;
    margin-bottom: 1rem;
}*/

.btn-group + .btn {
    margin-left: 1rem; }

/*.btn-donate {
    border-color: #ffc439; background-color: #ffc439; color: white;
}
    
.btn-donate:hover {
    border-color: #E0A51A; background-color: #E6AB20; color: white;
}

.btn-donate:active {
    border-color: #E0A51A; background-color: #E6AB20; color: white;
}

.btn-donate:focus {
    border-color: #BF8400; background-color: #E6AB20; color: white;
}*/
    

@media screen and (min-width: 64em) {
    .btn {
      padding: 0.75rem 1rem; } }
  
@media screen and (min-width: 36em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;} 
    #title {
        font-size: 4.5rem; }
    }

@media screen and (max-width: 36em) {
    .btn {
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
    }
    .btn, .btn-group {
        display: block;
    }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0;
    }
    #title {
        font-size: 3.5rem;
    }
    .footer-content{
        font-size: 0.8em
    }
}
