<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <!--<renderer renderedClass="System.Object" renderingClass="WinHue3.ObjectLogger, WinHue3, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"></renderer>-->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="${AppData}\WinHue\log\WinHue3.log" />
    <staticLogFileName value="false"/>
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="200MB" />
    <datePattern value=" yyyy-MM-dd&quot;.log&quot;"/>
    <layout type="log4net.Layout.PatternLayout">
      <!--<param name="ConversionPattern" 

               value="%d [%t] %-5p %c %m%n" />-->
      <conversionPattern value="%date [%thread] %-5level %logger [%method:%L] ==> %message%newline"/>
    </layout>
  </appender>
  <!--<appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <remoteAddress value="127.0.0.1" />-->
    <!-- local for the demo on my machine -->
    <!--<remotePort value="10000" />
    <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger [%method:%L] ==> %message%newline" />
  </appender>-->
  <appender name="DataGridViewAppender" type="WinHue3.Logs.DataGridViewAppender, WinHue3"/>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingLogFileAppender" />
    <!--<appender-ref ref="UdpAppender"/>-->
    <appender-ref ref="DataGridViewAppender"/>
    <!--<appender-ref ref="AdoNetAppender" />-->
  </root>
</log4net>
