<!-- Heading: Navbar and title -->
<!-- As a heading -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">WinHue</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="nav nav-pills">
                <a class="text-sm-center nav-link" href="../">Overview</a>
                <a class="text-sm-center nav-link active" href="#">Features</a>
            </div>
        </div>
    </div>
</nav>