<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CpuTempMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CpuTempMon.Properties.Settings>
            <setting name="CPUTemp_gradientStartColor" serializeAs="String">
                <value>25000</value>
            </setting>
            <setting name="CPUTemp_gradientStopColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPUTemp_gradientStartTemp" serializeAs="String">
                <value>35</value>
            </setting>
            <setting name="CPUTemp_gradientStopTemp" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="CPUTemp_SensorName" serializeAs="String">
                <value>CPU Package</value>
            </setting>
            <setting name="CPUTemp_ObjectID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CPUTemp_ObjectType" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CPUTemp_Saturation" serializeAs="String">
                <value>254</value>
            </setting>
            <setting name="CpuTemp_Brightness" serializeAs="String">
                <value>254</value>
            </setting>
        </CpuTempMon.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.0.0" newVersion="2.6.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
