<!DOCTYPE HTML>
<html lang="en">
  <head>
    <title>WinHue by {{ site.github.owner_name }}</title>
    <!-- Required meta tags for Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="/WinHue/assets/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="/WinHue/assets/magnific-popup/popup-styles.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/WinHue/css/common.css">
    <link rel="stylesheet" href="/WinHue/css/default.css">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700" rel="stylesheet">
    <!-- Page Icons: 1. Chrome and Opera -->
    <link rel="icon" sizes="192x192" href="/WinHue/assets/icon.png">
    <!-- 2. Safari -->
    <link rel="apple-touch-icon" href="/WinHue/assets/icon.png">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#000000">
  </head>
  <body>
    <!-- Heading: Navbar and title -->
    <!-- As a heading -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">WinHue</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex align-items-end" id="navbarNav">
            <div class="nav nav-pills flex-row-reverse">
                <a class="text-sm-center nav-link" href="#">Download</a>
                <a class="text-sm-center nav-link active" href="#">Features</a>
                <a class="text-sm-center nav-link" href="/WinHue/">Overview</a>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
        <div class="row row-btm-pad">
            <div class="col-md-12">
                <div style="text-align: center; margin-top: 1rem;"><h1>Features</h1></div>
            </div>
        </div>

      <div class="row row-btm-pad">
          <div class="col-md-4 col-sm-6">
              <h3>Groups</h3>
              <p>Manage light groups on the bridge, to categorise your lights or just group together multiple lights from one fitting.</p>
              <p>You can also create and edit the rooms that are shown in the official Hue app.</p>
              <a class="image-link" href="/WinHue/assets/img/groupCreator.png" data-effect="mfp-zoom-in">
                  <img src="/WinHue/assets/img/groupCreator.png"  class="img-fluid" alt="The main window of WinHue.">
              </a>
          </div>
          <div class="col-md-4 col-sm-6">
              <h3>Rules</h3>
              <p>Edit rules on the bridge in detail, with an easy to use interface for selecting the rule's parameters. You can even load and edit existing rules without having to start from scratch.</p>
              <a class="image-link" href="/WinHue/assets/img/ruleCreator.png" data-effect="mfp-zoom-in">
                  <img src="/WinHue/assets/img/ruleCreator.png"  class="img-fluid" alt="The main window of WinHue.">
              </a>
          </div>
          <div class="col-md-4">
              <h3>Floorplan</h3>
              <p>Create and edit floorplans that match your house. You can import your own images to set up a floorplan that works for you.</p>
              <a class="image-link" href="/WinHue/assets/img/floorplan.png" data-effect="mfp-zoom-in">
                  <img src="/WinHue/assets/img/floorplan.png"  class="img-fluid" alt="The main window of WinHue.">
              </a>
          </div>
      </div>
    </div>

    <footer class="footer">
        <div class="container">
          <span class="footer-content"><a href="{{ site.github.repository_url }}">{{ site.github.project_title }}</a> is maintained by <a href="{{ site.github.owner_url }}"><img src="{{ site.github.owner_gravatar_url }}"/WinHue/> {{ site.github.owner_name }}</a>, with help from <a href="{{ site.github.contributors[1].html_url }}"><img src="{{ site.github.contributors[1].avatar_url }}"/WinHue/> {{ site.github.contributors[1].login }}</a> ({{ site.github.contributors[1].contributions }}), <a href="{{ site.github.contributors[2].html_url }}"><img src="{{ site.github.contributors[2].avatar_url }}"/WinHue/> {{ site.github.contributors[2].login }}</a> ({{ site.github.contributors[2].contributions }}) and <a href="{{ site.github.repository_url }}/graphs/contributors">others</a>.</span>
        </div>
    </footer>

<!--Changelog Modal-->
<div class="modal fade" id="changelogModal" tabindex="-1" role="dialog" aria-labelledby="changelogModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changelogModalLabel">Changelog for {{ site.github.releases[0].name }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="latestChanges">{{ site.github.releases[0].body }}</p>
          <hr>
          <p class="text-muted" id="size-text">Size: {{ site.github.releases[0].assets[0].size }}</p>
          <p class="text-muted">Downloads: {{ site.github.releases[0].assets[0].download_count }} (as of {{ 'now' | date: '%B %d, %Y' }})</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!--Source Code Selector Modal-->
  <div class="modal fade" id="srcCodeModal" tabindex="-1" role="dialog" aria-labelledby="srcCodeModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="srcCodeModalLabel">Source Code for {{ site.github.releases[0].name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Which file type would you like to download?</p>
            <a href="{{ site.github.releases[0].zipball_url }}">Zipball (.zip)</a>
            <br>
            <a href="{{ site.github.releases[0].tarball_url }}">Tarball (.tar)</a>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Cancel">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then other JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="/WinHue/assets/magnific-popup/magnific-popup.js"></script>
    <script src="/WinHue/js/common.js"></script>
    <script src="/WinHue/js/default.js"></script>
  </body>
</html>
